{% extends "base.html" %}

{% block scripts %}
<link rel="stylesheet" href="{{ relpath }}styles/leaflet.zoomin.css" media="screen">

<script src="{{ relpath }}scripts/leaflet.js"></script>
<script src="{{ relpath }}scripts/leaflet.ajax.min.js"></script>
<script src="{{ relpath }}scripts/leaflet.zoomin.js"></script>
<script src="{{ relpath }}scripts/spin.min.js"></script>
<script src="{{ relpath }}scripts/leaflet.spin.js"></script>
<script src="{{ relpath }}scripts/main.js"></script>

{% endblock %}

{% block content %}

<div id="shareModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <div class="row">
      <div class="large-6 columns">
        <h4> {{ m.share_title }} </h4>
        <p> {{ m.share_description }} </p>
        <p>
		 <a target="_blank" class="twitter-share-button" href="https://twitter.com/intent/tweet?url={{ m.encoded_share_url }}&amp;text={{ m.tweet_share_text }}&amp;hashtags={{m.tweet_share_hashtag }}"><i class="fi-social-twitter large"></i></a> 
         <a target="_blank" class="fb-share-button" href="https://www.facebook.com/sharer/sharer.php?u={{ m.encoded_share_url }}"><i class="fi-social-facebook large"></i></a>
        </p>
      </div>
      <div class="large-6 columns">      
        <h4> {{ m.embed_title }} </h4>
        <p> {{ m.embed_description }} </p>
        <textarea><iframe src="{{ m.embed_code }}" width="100%" height="600" frameborder="0" allowfullscreen></iframe></textarea>
      </div>
    </div>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="main-map" class="row collapse full-width">
  <div class="large-8 columns">
    <div id="map-application" class="row">
      <div id="map" class="map"></div>
    </div>
    <div id="map-legend" class="row">
      <ul class="ghi-levels large-block-grid-7 medium-block-grid-4 small-block-grid-3">
        <li class="extra-alarming"><i class="fi-stop small"></i> {{ m.map_very_alarming }} <em>&ge; 50</em></li>
        <li class="alarming"><i class="fi-stop small"></i> {{ m.map_alarming }} <em>35.0-49.9</em></li>
        <li class="serious"><i class="fi-stop small"></i> {{ m.map_serious }} <em>20.0-34.9</em></li>
        <li class="moderate"><i class="fi-stop small"></i> {{ m.map_moderate }} <em>10.0-19.9</em></li>
        <li class="low"><i class="fi-stop small"></i> {{ m.map_low }} <em>&le; 9.9</em></li>
        <li class="no-data"><i class="fi-stop small"></i> {{ m.map_no_data }} </li>
        <li class="indust-country"><i class="fi-stop small"></i> {{ m.map_not_calculated }} </li>
      </ul>
    </div>
  </div>
  <div class="table-wrapper large-4 columns">
    <div class="row">
      <div class="large-12 columns year-select">
        <strong>{{ m.map_ranking }}</strong>
        <button id="year-button" href="#" data-dropdown="year-drop" aria-controls="year-drop" aria-expanded="false" class="dropdown">2016</button>
        <ul id="year-drop" data-dropdown-content class="f-dropdown" aria-hidden="true">
          <li><a class="2016" href="#">2016</a></li>
          <li><a class="2008" href="#">2008</a></li>
          <li><a class="2000" href="#">2000</a></li>
          <li><a class="1992" href="#">1992</a></li>
        </ul>
        <a class="button right tiny secondary radius" href="#" data-reveal-id="shareModal">
          <i class="fi-share"></i> {{ m.share_title }}/{{ m.embed_title }}
        </a>
      </div>
      <p class="large-12 columns">{{ m.ranking_description }}</p>
    </div>
    <div class="row">
      <div id="table-container">
        <table id="country-table" class="display" width="100%" cellspacing="0">
        </table>
      </div>
    </div>
  </div>
</div>
<section id="home-blocks" class="spaced-row">
  <div class="row">
    <a class="medium-4 columns" href="{{ linkrelpath }}trends/">
      <div>
        <h3>{{ m.block_index_title }}</h3>
        <p>{{ m.block_index_description }}</p>
      </div>
    </a><!-- /Block -->
    <a class="medium-4 columns" href="{{ linkrelpath }}results/">
      <div>
        <h3>{{ m.block_results_title }}</h3>
        <p>{{ m.block_results_description }}</p>
      </div>
    </a><!-- /Block -->
    <a class="medium-4 columns" href="{{ linkrelpath }}hunger/">
      <div>
        <h3>{{ m.block_hunger_title }}</h3>
        <p>{{ m.block_hunger_description }}</p>
      </div>
    </a><!-- /Block -->
  </div>
  <div class="row">
    <a class="medium-4 columns" href="{{ linkrelpath }}methodology/">
      <div>
        <h3>{{ m.block_methodology_title }}</h3>
        <p>{{ m.block_methodology_description }}</p>
      </div>
    </a><!-- /Block -->
    <a class="medium-4 columns" href="{{ linkrelpath }}about/">
      <div>
        <h3>{{ m.block_about_title }}</h3>
        <p>{{ m.block_about_description }}</p>
      </div>
    </a><!-- /Block -->
    <a class="medium-4 columns" href="{{ linkrelpath }}contact/">
      <div>
        <h3>{{ m.block_contact_title }}</h3>
        <p>{{ m.block_contact_description }}</p>
      </div>
    </a><!-- /Block -->
  </div>
</section><!-- /#Home Blocks -->

{% endblock content %}
