{% extends "base.html" %}

{% block scripts %}
<link rel="stylesheet" href="{{ relpath }}styles/responsive.dataTables.min.css" media="screen">

<script src="{{ relpath }}scripts/jquery.dataTables.js"></script>
<script src="{{ relpath }}scripts/dataTables.responsive.min.js"></script>
<script src="{{ relpath }}scripts/trends.js"></script>
{% endblock %}

{% block content %}

  <section id="trends-content" class="spaced-row">
    <div class="row">
      <h1 class="large-12 columns">Trends of Hunger</h1>
    </div>
    
    <table id="trends-table">
      <thead>
        <tr>
          <th class="all">{{ m.trends_country }}</th>
          <th class="min-tablet">{{ m.country_score_undernourished }}</th>
          <th class="min-tablet">{{ m.country_score_wasting }}</th>
          <th class="min-tablet">{{ m.country_score_stunting }}</th>
          <th class="min-tablet">{{ m.country_score_mortality }}</th>
          <th class="never">{{ m.trends_zone }}</th>
          <th class="all">{{ m.map_score }}</th>
        </tr>
      </thead>
    </table>

    <div class="row">
      <div class="large-12 columns">
        <p class="trends-footnote">* {{ m.ifpri_estimate }}</p> 
      </div>
    </div>
  </section>

{% endblock content %}
